#myProgress {
  width: 100%;
  background-color: grey;
  border-radius : 10px;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
  border-radius : 10px;
  
  p{
      color:white;
  }
}

.sponsorship_style{
  width:50%;
  font-size: larger;
  text-transform: uppercase;
}

#dropin-container{
        display:none;
        button{
          text-align: center;
        }
    }

    .braintree-card{
        padding:10px;
    }

    #submit-button{
        padding:10px;
        width:100%;
        text-align: center;
    }

  #pay-button{
    align-self: center;
  }

/* .boxPayment{
    width:50%;
    img{
        width:100%;
    }
} */