#update-aptm-container {
    margin: 20px 0 20px 0;
}

label, #create-aptm-btn {
    margin-top: 10px;
}

label {

    // to overwrite bootstrap's rule
    margin-bottom: 4px !important;
}

.inputs-number-container {
    display: flex;
    margin-top: 15px;

    // for a better text alignment at lower resolutions
    text-align: center;

    justify-content: space-between;
    align-items: center;

    label {
        margin-top: 0px;
        margin-bottom: 0px !important;
    }

    input {
        margin-left: 8px;
    }
}

#services-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    label {
        margin-top: 0px;
        margin-right: 15px;
        margin-bottom: 0px !important;
        margin-left: 5px;
    }
}

#main-img {
    margin-bottom: 10px;
}

.image-0-input-file, .image-1-input-file, .image-2-input-file, .image-3-input-file {
    width: 186px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-3-input-file {
    margin-bottom: 0;
}

#img-0-box, #img-2-box {
    padding-right: 50px;
}

#images-row {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
}

.myBgCreateUpd{
    background-image: url("/images/CreateApt/updApt.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
