.sender{
    display:inline-block
}

.stats{
    background-color:orange !important;
    color:white !important;
}
.btn-info{
    color:white !important;
}

.my_card_height{
    height:200px;
}

.inactive{
  opacity:0.6 !important; 
}

