.sender{
    display:inline-block
}

.stats{
    background-color:orange !important;
    color:white !important;
}
.btn-info{
    color:white !important;
}

.my_card_height{
    height:200px;
}
.inactive{
  background-color: rgba(31, 43, 43, 0.66);
}
