.sender{
    display:inline-block
}

.stats{
    background-color:orange !important;
    color:black !important;
    &:hover{
        color:white !important;
        background-color:rgb(192, 108, 30) !important;
    }
    &:focus{
        box-shadow: 0 0 0 0.2rem rgba(172, 106, 21, 0.5) !important;
    }
}
.btn-info{
    color:white !important;
}

.my_card_height{
    height:200px;
}

.inactive{
  opacity:0.6 !important; 
}

.my_span{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

