// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'detailApt';
@import 'detailUser';
@import 'header';
@import 'footer';
@import 'unauthorized';
@import 'userShowApt';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/all.css';

.noGutter{
    padding:0;
    margin:0;
}

.pagination{
    justify-content: center;
}

.my_margin_bottom{
    margin-bottom:300px;
}

.my_message{
    width:50%;
}

.myCards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    .card{
        margin:10px;
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}
#mySearch{ 
  position: absolute;
  top: 10%;
  left: 10%;
  transform:translate(55%,50%) ;
  background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    padding: 30px;
    border-radius: 5px;
    width:20%;
    input{
        margin-bottom:15px;
        border:1px solid rgb(199, 185, 185);
        border-radius: 3px;
        padding:10px;
        &:focus{
            border-color: rgb(0,132,137);
        }
    }
    h3{
        color:#484848;
        font-weight: bold;
    }
    button{
        align-self: flex-end;
        background:#FF5A5F;
        &:active{
            background:#df3c47;
        }
    }
  
}

#addressesList {
    position: relative;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(53, 130, 194);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(53, 130, 194);
  cursor: pointer;
}

/* .my_form_style{
    border:1px solid rgb(209, 198, 198);
    border-radius:10px;
    padding:20px;
    h3{
       background-color: rgba(0,0,0,.03);
    }
} */

.card{
    border:1px solid grey;
    #valOfRadius{
        color:rgb(0, 119, 255);
        font-weight: bold;
    }
    label{
        text-transform: capitalize;
    }
}