// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'detailApt';
@import 'header';
@import 'footer';
@import 'userShow';
@import 'unauthorized';
@import 'userShowApt';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.noGutter{
    padding:0;
    margin:0;
}

.pagination{
    justify-content: center;
}

.my_message{
    width:50%;
}

.myCards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    .card{
        margin:10px;
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}
